@page
@model FinalProject.Pages.AdminModel
<h1><a asp-page="CRUDBook/Index">Book Controller</a></h1><br />
<h1><a asp-page="CRUDBookDetail/Index">BookDetail Controller</a></h1><br />
<h1><a asp-page="CRUDCategory/Index">Category Controller</a></h1><br />
<h1><a asp-page="CRUDUser/Index">User Controller</a></h1><br />
